<div class="page-container" v-cloak>
    <el-card>
        <template #header>
            <div class="breadcrumb">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item><a href="{:url('admin/setting/index')}">配置列表</a></el-breadcrumb-item>
                    <el-breadcrumb-item>站点配置</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
        </template>
        <div>
            <el-form label-width="120px" :model="setting">
                <el-form-item label="站点名称">
                    <el-input v-model="setting.site_name" placeholder="请输入站点名称"></el-input>
                </el-form-item>
                <el-form-item label="站点介绍">
                    <el-input v-model="setting.site_description" placeholder="请输入关于站点的介绍" style="width: 400px"
                              :rows="5"
                              type="textarea"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button @click="submitEvent" type="primary">保存</el-button>
                </el-form-item>
            </el-form>
        </div>
    </el-card>
</div>

<script>
    const App = {
        data() {
            return {
                setting: {
                    site_name: "Hcms",
                    site_description: "Hcms 是基于Hyperf 框架开发的模块化管理系统，致力于定制化项目模块化开发规范。",
                }
            }
        },
        mounted() {
            this.getInfo()
        },
        methods: {
            getInfo() {
                this.httpGet("{:url('admin/setting/site/info')}", {}).then(res => {
                    if (res.status) {
                        let {setting = {}} = res.data
                        this.setting = setting
                    }
                })
            },
            submitEvent() {
                this.httpPut("{:url('admin/setting/site')}", {setting: this.setting}, true).then(res => {
                    if (res.status) {
                        this.$message.success(res.msg)
                    }
                })
            }
        }
    }
</script>