<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{$site_name}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- 导入样式 -->
    <link rel="stylesheet" href="/assets/element-plus/index.css?v={$version}"/>
    <link rel="stylesheet" href="/assets/css/index.css?v={$version}">
    <link rel="stylesheet" href="/assets/css/iconfont.css?v={$version}">

    <script src="/assets/js/jquery.min.js?v={$version}"></script>
    {if $env == 'dev'}
    <!-- 导入 Vue 3 -->
    <script src="/assets/vue3/index.js?v={$version}"></script>
    <script src="/assets/element-plus/index.js?v={$version}"></script>
    {else /}
    <!-- 正式版本使 min -->
    <!-- 导入 Vue 3 -->
    <script src="/assets/vue3/index.min.js?v={$version}"></script>
    <script src="/assets/element-plus/index.min.js?v={$version}"></script>
    {/if}
    <script src="/assets/js/vue-common.js?v={$version}"></script>
    <script src="/assets/js/vue-list.js?v={$version}"></script>
    <script src="/assets/element-plus/zh-cn.js?v={$version}"></script>
    <script>
        //用户存放页面中会引入的组件
        const component_list = []
    </script>
</head>
<body style="background-color: #f8f8f8;height: 100%">
<div>
    {__CONTENT__}
</div>
</body>
<script>
    $(function () {
        let app = Vue.createApp(App)
        app.use(ElementPlus, {
            locale: ElementPlusLocaleZhCn,
        })
        app.mixin(window.__vueCommon)
        app.mixin(window.__vueList)
        //加载页面中引入的组件
        component_list.forEach(item => {
            app.component(item.key, item.c)
        })
        app.mount('.page-container', {})
    })
</script>
</html>
