/* 全局样式  */
[v-cloak] {
    display: none;
}

* {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.page-container {
    padding: 8px 8px 30px 8px !important;
}

.pagination-container {
    margin-top: 10px;
    text-align: center;
}

/*默认输入框宽度*/
.el-form-item .el-input__inner {
    width: 300px;
}

.form-small {
    color: #999999;
}

.el-link + .el-link {
    margin-left: 10px;
}

/*所有 Default 样式的link 没有下划线*/
.el-link.el-link--default:after {
    border: 0 !important;
}