<div class="page-container" v-cloak>
    <el-card>
        <template #header>
            <div class="breadcrumb">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item>队列示例</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
        </template>
        <div>
            <el-button @click="setMessage('delay')" type="primary">设置延迟队列消息</el-button>
            <el-button @click="setMessage('long')" type="primary">设置长执行队列消息</el-button>
            <el-button @click="setMessage('error')" type="primary">设置异常队列消息</el-button>
        </div>
    </el-card>
</div>

<script>
    const App = {
        methods: {
            setMessage(type) {
                this.httpPost("{:url('demo/demo/queue')}", {type}).then(res => {
                    if (res.status) {
                        this.$message.success(res.msg)
                    }
                })
            }
        }
    }
</script>