<div class="page-container" v-cloak>
    <el-card>
        <template #header>
            <div class="breadcrumb">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item>队列执行记录</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
        </template>
        <div>
            <div v-if="!open_service" style="margin-bottom: 20px">
                <el-alert title="未开启队列服务，请前往 processes.php 配置文件开启服务" type="error"/>
            </div>
            <el-form :inline="true">
                <el-form-item>
                    <el-input v-model="where.class_name" clearable placeholder="类名"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-input v-model="where.method" clearable placeholder="方法名称"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="searchEvent">查询</el-button>
                </el-form-item>
            </el-form>
            <el-form :inline="true">
                <el-form-item label="删除时间为">
                    <div style="display: flex;align-items: center">
                        <div style="margin-right: 10px">
                            <el-date-picker
                                    style="width: 200px;"
                                    v-model="delete_muti_time"
                                    type="datetime"
                                    value-format="YYYY-MM-DD HH:mm:ss"
                                    placeholder="选择日期和时间"
                            ></el-date-picker>
                        </div>
                        <div style="margin-right: 10px">
                            之前的记录
                        </div>
                        <div>
                            <el-button type="danger" @click="deleteMutiEvent">删除</el-button>
                        </div>
                    </div>
                </el-form-item>
            </el-form>
            <div>
                <el-radio-group v-model="where.status" @change="refreshList" style="margin-bottom: 30px;">
                    <el-radio-button :label="-1">全部</el-radio-button>
                    <el-radio-button :label="0">执行中</el-radio-button>
                    <el-radio-button :label="1">成功</el-radio-button>
                    <el-radio-button :label="2">失败</el-radio-button>
                </el-radio-group>
            </div>
        </div>
        <div>
            <el-table

                    :data="data_list"
                    style="width: 100%">
                <el-table-column
                        fixed
                        prop="queue_id"
                        label="ID"
                        width="80">
                </el-table-column>
                <el-table-column
                        prop="class_name"
                        label="类名"
                        min-width="180">
                </el-table-column>
                <el-table-column
                        prop="method"
                        min-width="100"
                        label="方法">
                </el-table-column>
                <el-table-column
                        prop="params"
                        label="参数"
                        min-width="180">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="status"
                        label="状态"
                        min-width="80">
                    <template #default="{row}">
                        <div>
                            <el-tag v-if="row.status===0">执行中</el-tag>
                            <el-tag v-if="row.status===1" type="success">成功</el-tag>
                            <el-tag v-if="row.status===2" type="danger">失败</el-tag>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="process_count"
                        label="执行次数"
                        min-width="60">
                </el-table-column>
                <el-table-column
                        prop="error_msg"
                        label="错误信息"
                        min-width="100">
                    <template #default="{row}">
                        <div v-if="row.error_msg">
                            <el-popover
                                    placement="bottom"
                                    title="错误详情"
                                    width="700"
                                    trigger="click">
                                <div>
                                    <pre style="white-space: pre-wrap;">{{row.error_data}}</pre>
                                </div>
                                <div slot="reference">
                                    <span>{{row.error_msg}}</span><i
                                        style="font-size: 14px;cursor: pointer;color: #999999;margin-left: 4px;"
                                        class="el-icon-question"></i>
                                </div>
                            </el-popover>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="process_time"
                        label="执行时间"
                        width="80">
                </el-table-column>
                <el-table-column
                        prop="created_at"
                        label="创建时间"
                        width="160">
                </el-table-column>
                <el-table-column
                        prop="updated_at"
                        label="更新时间"
                        width="160">
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        background
                        layout="prev, pager, next"
                        :total="total_num"
                        :current-page="current_page"
                        :page-size="per_page"
                        @current-change="currentChangeEvent"
                >
                </el-pagination>
            </div>
        </div>
    </el-card>
</div>

<script>
    const App = {
        data() {
            return {
                is_init_list: true,
                open_service: true,
                delete_muti_time: "",
                where: {
                    status: -1
                },
            }
        },
        methods: {
            deleteMutiEvent() {
                console.log('deleteMutiEvent', this.delete_muti_time)
                if (!this.delete_muti_time) {
                    this.$message.error('请选择时间')
                    return
                }

                this.$confirm("是否确认删除" + this.delete_muti_time + "之前的记录？", '提示').then(() => {
                    this.httpDelete("{:url('admin/queue/delete')}", {time: this.delete_muti_time}).then(res => {
                        if (res.status) {
                            this.$message.success(res.msg)
                            this.GetList()
                        }
                    })
                }).catch(err => {
                })
            },
            GetList() {
                this.httpGet("{:url('admin/queue/index/lists')}", {
                    page: this.current_page,
                    ...this.where
                }).then(res => {
                    let {lists = {}, open_service = false} = res.data
                    this.open_service = open_service
                    this.handRes(lists)
                })
            },
            searchEvent() {
                this.refreshList()
            }
        }
    }
</script>